<ion-header>
  <ion-toolbar>
    <ion-title>The Beauty Of Water</ion-title>
    <p class="p3">Chapter Three</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img class="water" src="http://lorempixel.com/output/nature-q-c-987-376-3.jpg"/>
        </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  <div class="c">
    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium pellentesque quam, nec sodales nisi finibus vel. Quisque sit amet turpis malesuada, fringilla libero eget, efficitur erat. Ut et nulla sed diam facilisis vehicula. Curabitur ultricies et ante in sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In fermentum augue nulla, at tristique elit congue id. Integer semper aliquet maximus. In malesuada vel ipsum eu lobortis. Duis luctus, est ut rutrum auctor, felis sapien tincidunt dui, scelerisque posuere turpis metus ac nibh. Proin venenatis mollis vulputate. Fusce vehicula ligula metus, id vehicula est semper vitae. Mauris tempor tempor libero, id tristique lorem gravida imperdiet. Donec eu pretium elit, eget scelerisque mi.</P>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tortor eros, dapibus sit amet tempor ac, elementum sed enim. Sed nec dignissim enim. Mauris quis enim sem. Quisque fermentum justo dignissim, porttitor tellus id, suscipit tortor. Praesent molestie, massa ut gravida laoreet, nisl erat finibus eros, ac luctus ipsum nulla et lectus. Cras pulvinar est lacus, pulvinar rutrum ante porttitor quis. Quisque vel dictum metus, ac hendrerit justo.</p>
    <P>Vivamus vitae nulla in orci rhoncus semper. Maecenas semper elit pharetra, fermentum tortor et, tempor sem. Proin a pharetra massa, vel ullamcorper leo. Maecenas quis faucibus mi. Cras tortor enim, venenatis ut tellus a, tempus varius augue. Vestibulum placerat arcu eget risus lacinia, et malesuada tellus varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</P>
    <p>Sed iaculis libero augue, et maximus magna auctor vitae. Nulla diam leo, condimentum a mi quis, luctus facilisis nunc. Phasellus orci arcu, rhoncus vel posuere non, lobortis ut dolor. Aliquam sodales velit ac mauris varius sagittis. Suspendisse nulla odio, commodo quis turpis eget, commodo pellentesque massa. Sed diam nibh, vestibulum at eros eget, vestibulum varius diam. Aliquam urna nibh, viverra commodo convallis sit amet, venenatis at dui. Etiam sit amet odio eget eros iaculis maximus. Duis at eleifend leo, quis condimentum sem. Fusce sit amet tristique lectus. Morbi faucibus interdum massa, sit amet pretium nisl interdum sed. Vivamus aliquet venenatis ipsum, quis mattis elit pulvinar in. Maecenas lorem erat, vehicula eget orci eget, dignissim fermentum felis.</p>
    <p>Donec maximus felis sit amet efficitur posuere. Etiam convallis augue vitae rutrum fermentum. Maecenas hendrerit, purus non dignissim pharetra, nunc mi faucibus erat, id ultrices lorem libero ac sapien. Mauris aliquam vulputate elit. Nam id risus sed leo gravida gravida vehicula vel tellus. Nam tempus sem ac ligula suscipit accumsan. Morbi congue justo ac nisl suscipit, porta interdum felis malesuada. Nunc nisi dui, vehicula sed lacus at, fringilla malesuada neque. Integer placerat justo vestibulum, blandit odio a, vehicula ante. Vivamus non interdum odio, et porttitor dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam id sodales dolor, in dapibus nibh. Phasellus sapien urna, vulputate eget eleifend vitae, blandit ut nisi. Aliquam vehicula tristique quam, mattis luctus nisl dapibus ac.</p>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <ion-button id="back3" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go Back</ion-button>
      </div>
    </ion-col>
    <ion-col size="12" size-sm>
      <div>
        <ion-button id="toc3" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">Table Of Contents</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 
  <p class="page3">3</p>
</ion-content>
  