#back3 {
  margin-top: 3em;
  width: 100%;
}

#toc3{
  margin-top: 3em;
  width: 100%;
  white-space: initial;
}

div.c {
  text-indent: 3em;
}

.water{
  height: auto;
  width: 100%;
}

.p3 {
  text-indent: 2em;
}

  .page3{
    text-align: center;
  }