#next2{
  width: 100%;
  margin-top: 3em;
}


#back2 {
  margin-top: 3em;
  width: 100%;

}

#toc2{
  width: 100%;
  margin-top: 3em;
  white-space: initial;
}

div.b {
    text-indent: 3em;
  }

.flowers{
  height: auto;
   width: 100%;
}

.p2 {
  text-indent: 2em;
}

.page2{
  text-align: center;
}