<ion-header>
  <ion-toolbar>
    <ion-title>The Beauty Of Flowers</ion-title>
    <p class="p2">Chapter Two</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-grid>
      <ion-row>
        <ion-col>
            <img class="flowers" src="https://t3.ftcdn.net/jpg/03/44/75/56/240_F_344755611_8o7z9YuDVnYHSSZyxFjtwMKjiytQpcDo.jpg"/>
          </ion-col>
        </ion-row>
    </ion-grid>
</div>
  <div class="b">
    <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tortor eros, dapibus sit amet tempor ac, elementum sed enim. Sed nec dignissim enim. Mauris quis enim sem. Quisque fermentum justo dignissim, porttitor tellus id, suscipit tortor. Praesent molestie, massa ut gravida laoreet, nisl erat finibus eros, ac luctus ipsum nulla et lectus. Cras pulvinar est lacus, pulvinar rutrum ante porttitor quis. Quisque vel dictum metus, ac hendrerit justo.</p>
    <p> Maecenas ex ante, lobortis vitae placerat quis, volutpat vel odio. Nulla id risus ut risus feugiat lobortis. Vestibulum eget massa id sem dignissim hendrerit. Mauris ultrices quam dolor, sit amet vestibulum massa pellentesque nec. Nunc tempor venenatis sem, in maximus leo malesuada vitae. Praesent dui libero, convallis a imperdiet in, mattis ac orci. Ut ut elit leo. Aenean scelerisque interdum nibh, vel rhoncus libero fringilla sit amet. Praesent tristique, enim sit amet viverra sagittis, lacus nisi sodales augue, eu maximus mi tellus ut elit. Proin sagittis vestibulum nunc id dapibus. Vivamus consequat blandit imperdiet. Maecenas venenatis ante vel purus imperdiet feugiat. Donec quis pellentesque metus, ut dictum nisi.</p>
    <p> Aliquam sodales varius leo, eget efficitur magna semper vitae. Phasellus vehicula eros sed porta dignissim. Curabitur tempor luctus interdum. Nunc lobortis ante quis dolor tempor, ut pharetra lacus ornare. Vestibulum luctus ligula porta, commodo tortor at, gravida odio. Sed eget nisi sed est facilisis sodales a vitae nulla. Cras sollicitudin ex est. Duis lorem elit, laoreet id facilisis efficitur, vulputate in libero. Praesent eu lobortis arcu. Aenean dignissim fermentum egestas. Curabitur sed fermentum magna.</p>
    <p> In egestas aliquet diam, eu tincidunt odio ullamcorper ac. Donec lorem tellus, eleifend sed tristique quis, efficitur a ex. Integer tempus elit non sem tristique fermentum. Vivamus dictum sollicitudin mauris at dictum. Curabitur et odio et leo elementum elementum. Aliquam laoreet quam dolor, sit amet auctor magna blandit id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas in sollicitudin urna.</p>
    <p> Curabitur vel pulvinar odio. Nullam posuere tincidunt quam, ac feugiat dolor tempus sed. Suspendisse sagittis volutpat purus quis mattis. Nunc tempus feugiat tortor quis convallis. Phasellus fringilla felis sed nisl ultricies interdum. Nulla ornare, felis at eleifend porttitor, turpis est dignissim orci, non consectetur dui lacus at arcu. In id metus lacus. Fusce ut lorem eu nunc egestas vulputate vel eget ligula.</p>
    <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In urna orci, sollicitudin non ligula sed, scelerisque pulvinar enim. Quisque vehicula commodo lacinia. Phasellus lacinia viverra diam, a gravida lorem pellentesque sit amet. Nam quam odio, maximus vel velit at, ullamcorper venenatis justo. Ut sit amet interdum quam. Etiam mollis, arcu id tempus suscipit, purus sem pretium tortor, in blandit nunc libero quis sem. Nullam malesuada efficitur gravida. Vivamus id tortor ac velit tincidunt malesuada. Morbi ullamcorper iaculis ex, venenatis viverra mi fringilla nec. Sed non quam lectus. Nam interdum leo at libero laoreet semper. Cras pretium ante vel est pulvinar molestie. Pellentesque vel nulla vestibulum tortor venenatis fringilla. Mauris placerat risus gravida erat tincidunt, at sollicitudin odio volutpat.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae ipsum at eros suscipit feugiat. Sed vel orci lorem. In semper odio at massa posuere, rhoncus sodales ipsum condimentum. Morbi nec arcu nec tortor suscipit vestibulum nec sit amet elit. Proin efficitur tempor orci suscipit bibendum. Vivamus bibendum purus elit, ac volutpat sem venenatis feugiat. Pellentesque vel risus nec elit eleifend scelerisque. Suspendisse accumsan ante vel eros hendrerit vestibulum. In consequat mi nec mi lacinia, eget rhoncus ante molestie. Praesent luctus, odio vitae sodales auctor, purus odio pharetra eros, quis volutpat tellus purus blandit nisi. Pellentesque eu lorem augue. Aenean tincidunt aliquam lorem, ut maximus ante luctus id. In in ex at enim pulvinar interdum. Suspendisse eu neque quis metus placerat feugiat. Suspendisse sollicitudin condimentum ipsum nec commodo.</p>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <ion-button id="back2" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter1']">Go Back</ion-button>
      </div>
    </ion-col>
    <ion-col size="12" size-sm>
      <div>
        <ion-button id="toc2" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">Table Of Contents</ion-button>
      </div>
    </ion-col>
    <ion-col size="12" size-sm>
      <div>
        <ion-button id="next2" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Page</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 
    <p class="page2">2</p>
  </ion-content>