<ion-header>
  <ion-toolbar>
    <ion-title>The Beauty Of Trees</ion-title>
    <p class="p1">Chapter One</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img class ="trees" src="https://images.freeimages.com/images/large-previews/4ca/tree-1552037.jpg" />
        </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  <div class="a">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut faucibus elit. Cras lacinia nisl a mollis laoreet. Aliquam erat volutpat. Quisque nec ante eget sem varius tincidunt. Sed sit amet magna id ex iaculis semper. Ut nec pretium enim. Aliquam eget quam non ligula luctus ultricies. Curabitur iaculis, mauris at tempor dignissim, metus mauris vestibulum enim, sit amet posuere leo sem ac nisi. Donec semper eros libero, ut consectetur leo egestas quis. Donec eget posuere tortor, eu ornare ante. Donec a mauris iaculis, euismod mi nec, sodales quam.</p>
    <p>Proin maximus elementum tellus, a laoreet nisl. Nam accumsan quis felis at porta. Ut velit magna, congue ut tortor vel, accumsan aliquet augue. Duis vitae egestas purus. In fringilla vitae ligula eget tincidunt. Duis tristique massa id risus pellentesque, euismod ullamcorper lorem tempor. Vivamus venenatis erat sem, ut porttitor mauris efficitur vel. Donec non porta elit, vitae varius lacus. Praesent blandit augue porta commodo congue. Pellentesque vel odio tempor, varius arcu ac, malesuada nunc. Nullam laoreet imperdiet diam.</p>
    <p>Mauris sit amet iaculis lectus. Morbi id felis sed lorem consectetur congue. Proin aliquet, arcu ac vestibulum sollicitudin, nulla tortor euismod lectus, porta iaculis quam sapien ut sapien. Sed volutpat erat mollis dolor iaculis bibendum. Sed consectetur felis enim, nec rutrum velit elementum vel. Maecenas ac ipsum vitae nibh lobortis commodo vitae sit amet felis. Donec quis scelerisque augue, eu suscipit tortor. Vivamus rutrum facilisis ante quis mattis. Cras sodales congue nulla, vel maximus quam porttitor sed. Nulla facilisi. Quisque augue enim, laoreet a nulla in, volutpat dictum neque. Phasellus sed ultrices erat. Sed volutpat lorem vitae risus dictum rutrum. Sed sit amet egestas urna, laoreet auctor nisi. Aenean vel augue scelerisque, porta enim non, commodo ante. Phasellus consequat imperdiet maximus.</p>
    <p>Curabitur non blandit ex. Nullam sed magna pellentesque, efficitur felis nec, tincidunt est. Ut iaculis, purus aliquam auctor auctor, nisi odio finibus libero, quis tempor libero urna non nibh. Duis nibh mauris, egestas vulputate mattis id, tincidunt id diam. Proin urna massa, semper et sapien non, gravida gravida tortor. Fusce tristique, metus eu euismod condimentum, dolor nisi egestas turpis, in efficitur mauris purus quis magna. Donec lacinia placerat laoreet. Pellentesque pulvinar ipsum risus, ut egestas lacus posuere ac. Suspendisse potenti. Quisque at feugiat ex. Praesent vel dui eget ipsum posuere pulvinar quis quis nisl. Nunc tincidunt pellentesque pretium.</p>
    <p>Praesent congue rhoncus ultrices. Duis dolor nunc, posuere ac risus in, condimentum consectetur ipsum. Morbi imperdiet sit amet erat vel iaculis. Cras eros elit, ornare tempor sem vitae, ultrices vulputate elit. Pellentesque id placerat metus. Maecenas nisl mauris, porttitor nec urna ac, tempus accumsan est. Mauris id metus et velit malesuada consequat. Maecenas id dui sem. Phasellus porta maximus purus, sit amet scelerisque libero. Donec fringilla leo lobortis malesuada lacinia. Suspendisse suscipit erat risus, volutpat placerat lorem aliquet et. Nunc faucibus nulla mi, sollicitudin consectetur orci porta at. Proin nec neque efficitur, vulputate est et, ultrices dui. Ut hendrerit nulla turpis, accumsan dignissim ex tincidunt ut. Nullam ultrices, lorem et venenatis sollicitudin, purus lacus lacinia massa, pharetra tristique dolor risus non mauris.</p>
    <p>Integer faucibus pretium nibh, id commodo nisl egestas id. Etiam nec purus lacus. Sed fringilla maximus ipsum, in dapibus urna scelerisque ut. Vestibulum condimentum interdum felis non pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla augue arcu, viverra nec sem sed, rutrum dapibus sem. Pellentesque tincidunt, dui sed consectetur elementum, metus nulla porttitor justo, lacinia auctor purus neque vel arcu. Aliquam purus neque, porta eu risus sed, consequat convallis lacus. Donec placerat, orci fringilla rutrum molestie, elit sem interdum orci, ut viverra felis lectus quis erat. Nunc vitae suscipit justo, maximus aliquam libero. Morbi ut enim at nunc placerat tempor sed sit amet eros. Mauris pretium nec dolor id convallis. Donec vestibulum elementum mi id bibendum. Nullam maximus varius eros non ullamcorper.</p>
  </div>    
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <div>
          <ion-button id="back1" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back</ion-button>
        </div>
      </ion-col>
      <ion-col size="12" size-sm>
        <div>
          <ion-button id="toc1" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">Table Of Contents</ion-button>
        </div>
      </ion-col >
      <ion-col size="12" size-sm>
        <div>
          <ion-button id="next1" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Page</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    
    
   
    <p class="page1">1</p>
</ion-content>

