#next1{
  width: 100%;
  margin-top: 3em;
}

#back1{
  margin-top: 3em;
  width: 100%;
}

#toc1{
  width: 100%;
  margin-top: 3em;
  white-space: initial;
}

div.a {
    text-indent: 3em;
  }
  
.trees  {
  height: auto;
  width: 100%;
  }

  .p1 {
    text-indent: 2em;
  }
  
  .page1{
    text-align: center;
  }